body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pokemon-screen-text {
  display: block;
  text-align: center;
}

.pokedex-full{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

button {
  background: transparent;
  border: none !important;
  font-size:0;
}