body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DEEFE7;
}

nav {
  background-color: #EF5350!important;
}

#searchbar {
  margin-left: 10%;
}

#searchbar input {
  background-color: rgba(0,0,0,0.03);
}

.region-nav {
  width: 14.2%;
  margin-bottom: 10px;
  color: #395FA4;
  background-color: #FFF;
  font-weight: 500;
  font-style: italic;
  border: 5px solid #EF5350;
  border-style: groove;
  font-size: medium;
  text-align: center;
}

.region-nav:hover {
  color: #EF5350;
  background-color: rgb(243, 211, 124);
  text-decoration: none;
}

a {
  color: #00B7FF;
}

.pokemon-screen-text {
  display: block;
  text-align: center;
}

.next-prev {
  display: block;
  text-align: center;
  width: 33%;
  color: #EF5350;
  font-weight: 600;
}

.next-prev:hover {
  text-decoration: underline;
}

.pokedex-full{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

button {
  background: transparent;
  border: none !important;
  font-size:0;
}

.btn-primary {
  background-color: #deefe7;
  background-repeat:no-repeat;
  border-radius: 1em;
  border: none;
  cursor:pointer;
  overflow: hidden;  
  height: 200px;
  width: 200px;
  margin-bottom: 50px;
}

.btn-primary:hover {
  background-color: #EF5350;
}

.btn-success:hover {
  background-color: #395FA4;
}

.btn-success {
  display: inline;
}

#pokedex-title {
  color: #FDC937;
  text-shadow: -1px 1px 2px #395FA4,
  1px 1px 2px #395FA4,
  1px -1px 0 #395FA4,
  -1px -1px 0 #395FA4;
}

#pokedex-title:hover {
  text-decoration: none !important;
  color: #395FA4;
  text-shadow: -1px 1px 2px #FDC937,
  1px 1px 2px #FDC937,
  1px -1px 0 #FDC937,
  -1px -1px 0 #FDC937;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.5); Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#scrollpoke {
  margin-top: 200px;
}